{% extends "unlogged.twig" %}
{% block breadcrumbs %}<a href="/">Strona główna</a> &gt; <a href="/strona/o-nas">O nas</a>{% endblock %}
{% block header %}O nas{% endblock %}
{% block inner %}
        <div class="row">
            <div class="col-md-6 mx-md-auto">



                <h3>Twoje przesyłki w dobrych rękach!</h3>

                <p>Jesteśmy nowoczesnym brokerem kurierskim, kt&oacute;ry łączy szybkość, niezawodność i oszczędność. Naszym celem jest uproszczenie procesu nadawania paczek &ndash; zar&oacute;wno dla firm, jak i klient&oacute;w indywidualnych. Dzięki wsp&oacute;łpracy z największymi firmami kurierskimi w Polsce i za granicą, oferujemy szeroki wyb&oacute;r usług kurierskich, zapewniamy profesjonalną obsługę i pomoc na każdym etapie wsp&oacute;łpracy.</p>

                <h3>Dlaczego my?</h3>

                <ul>
                    <li>Por&oacute;wnujemy oferty wielu kurier&oacute;w &ndash; Ty wybierasz najlepszą.</li>
                    <li>Szeroki wachlarz usług &ndash; dopasowujemy rozwiązania do Twoich potrzeb.</li>
                    <li>Indywidualna obsługa &ndash; każdy Klient otrzymuje dedykowanego opiekuna, kt&oacute;ry służy radą, wsparciem i pomocą od pierwszego zgłoszenia aż do &nbsp;rozwiązania ewentualnych problem&oacute;w.</li>
                    <li>Oferujemy intuicyjny system &ndash; znajdziesz w nim wszystko co istotne, bez zbędnych dodatk&oacute;w</li>
                    <li>Działamy transparentnie &ndash; bez ukrytych koszt&oacute;w.</li>
                </ul>

                <p>Stawiamy na technologię, ale przede wszystkim na <strong>człowieka</strong>. Nasz zesp&oacute;ł to osoby z doświadczeniem w logistyce i e-commerce, gotowe doradzić i pom&oacute;c w każdej sytuacji. Niezależnie, czy wysyłasz jedną paczkę, czy setki miesięcznie &ndash; znajdziemy rozwiązanie idealne dla Ciebie.</p>

                <p><strong>Dołącz do grona naszych zadowolonych klient&oacute;w i przekonaj się, że wysyłka paczek może być: prosta, szybka, przyjemna i tania!</strong></p>


            </div>
        </div>
{% endblock %}