{% extends "logged.twig" %}
{% block breadcrumbs %}<a href="/">Strona główna</a> &gt; <a href="/panel-klienta">Panel klienta</a> &gt; <a href="/finanse/saldo">Saldo</a> &gt; <a href="/finanse/doladuj">Doładuj konto</a>{% endblock %}
{% block header %}Doładuj konto{% endblock %}
{% block title %}Doładuj konto{% endblock %}
{% block inner %}<div class="col-xl-6 m-auto">
    <div class="row mb-1">
        <div class="col">
            <a href="/finanse/saldo" class="btn">powrót</a>
        </div>
    </div>

    <form action="/finanse/doladuj" method="post">
        <label class="form-input">
            Kwota
            <input name="amount" step="0.01" type="number"/>
        </label>
        <button type="submit">Doładuj</button>
    </form>
</div>{% endblock %}