{% extends "unlogged.twig" %}
{% block breadcrumbs %}<a href="/">Strona główna</a> &gt; <a href="/strona/pomoc">Pomoc</a>{% endblock %}
{% block header %}Pomoc{% endblock %}
{% block inner %}<div class="row">
            <div class="col-md-6 mx-md-auto">



                <h3><span style="color:#000000"><strong>Potrzebujesz pomocy? &nbsp;</strong></span></h3>

                <p>Jesteśmy tutaj, żeby ułatwić Ci każdy etap nadawania przesyłki. W tej zakładce znajdziesz odpowiedzi i wskaz&oacute;wki, kt&oacute;re pomogą Ci szybko i sprawnie skorzystać z naszych usług.</p>

                <p><strong>Jak nadać przesyłkę &quot;Krok po kroku&quot;?</strong><br />
                    Prosta<strong><span style="color:#3498db"> </span><a href="/files/media/pliki/Jak nadać przesyłkę - instrukacja krok po kroku.pdf" target="_blank"><span style="color:#3498db">instrukcja</span></a><span style="color:#3498db">,</span></strong> kt&oacute;ra przeprowadzi Cię przez cały proces &ndash; od założenia konta, przez uzupełnienie danych, aż po śledzenie przesyłki.</p>

                <p><strong>Śledzenie przesyłek</strong><br />
                    Masz numer przesyłki? Skorzystaj z opcji śledzenia i sprawdź, gdzie aktualnie znajduje się Twoja paczka.</p>

                <p><strong>Problemy z przesyłką?</strong><br />
                    Zgubiła się paczka, kurier się sp&oacute;źnia, a może coś poszło nie tak? Skontaktuj się z nami &ndash; szybko znajdziemy rozwiązanie.</p>

                <p>&nbsp;</p>

                <p>Jeśli nie znajdziesz odpowiedzi na swoje pytanie &ndash; przejdź do zakładki <strong>Kontakt</strong> i napisz lub zadzwoń. <strong>Chętnie pomożemy!</strong></p>


            </div>
        </div>
{% endblock %}