{% extends "unlogged.twig" %}
{% block breadcrumbs %}<a href="/">Strona główna</a> &gt; <a href="/strona/polityka-prywatnosci">Polityka prywatności</a>{% endblock %}
{% block header %}Polityka prywatnościi{% endblock %}
{% block inner %}<div class="row">
            <div class="col-md-6 mx-md-auto ja">



                <p><strong>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Informacje og&oacute;lne!</strong></p>

                <p>Data ostatniej aktualizacji: 03.03.2025 r.</p>

                <p>Witaj w eurodelivery.&nbsp; Twoja prywatność jest dla nas priorytetem. Nasza Polityka Prywatności ma na celu poinformowanie Cię o tym, jakie dane osobowe zbieramy, w jaki spos&oacute;b je przetwarzamy, jakie masz prawa oraz jak możesz skontaktować się z nami w przypadku pytań.</p>

                <p>Nasza Polityka Prywatności jest w pełni dostosowana do standard&oacute;w RODO.</p>

                <p>RODO to og&oacute;lne rozporządzenie o ochronie danych osobowych&nbsp; - Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r., przyjęte 24 maja 2016 w sprawie ochrony os&oacute;b fizycznych w związku z przetwarzaniem danych osobowych.</p>

                <p>&nbsp;</p>

                <p><strong>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Administrator Danych Osobowych</strong></p>

                <p>Administratorem Twoich danych osobowych jest EuroDelivery Sp&oacute;łka z ograniczoną odpowiedzialnością, z siedzibą w
                    Mieście przy ulicy                    .... , NIP 9876543210 | KRS .... | REGON ..... Możesz skontaktować się z nami pod adresem e-mail: kontakt@EuroDelivery &nbsp;lub telefonicznie: 500600700</p>

                <p>&nbsp;</p>

                <p><strong>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Zakres i cel przetwarzania danych</strong></p>

                <p><strong>Zakres przetwarzanych danych obejmuje m.in.:</strong></p>

                <ul>
                    <li>Dane identyfikacyjne: &nbsp;</li>
                </ul>

                <p>imię, nazwisko, nazwa firmy, &nbsp;adres (firmy, zamieszkania, nadania), dane i adres dostawy.</p>

                <ul>
                    <li>Dane kontaktowe:</li>
                </ul>

                <p>adres e-mail, numer telefonu.</p>

                <ul>
                    <li>Dane dotyczące przesyłek:</li>
                </ul>

                <p>informacje o nadawcy i odbiorcy, szczeg&oacute;ły dotyczące przesyłek (np. waga, wymiary, zawartość).</p>

                <ul>
                    <li>Dane dotyczące płatności:</li>
                </ul>

                <p>informacje o transakcjach, jeśli korzystasz z płatności online.</p>

                <p><strong>Dane osobowe są przetwarzane w celu:</strong></p>

                <ul>
                    <li>Umożliwienia korzystania z serwisu EuroDelivery, w tym w szczeg&oacute;lności rejestracji, logowania oraz świadczenia usług dostępnych za jego pośrednictwem.</li>
                </ul>

                <p>(art. 6 ust. 1 lit. b) RODO - przetwarzanie jest niezbędne do wykonania umowy, kt&oacute;rej stroną jest osoba, kt&oacute;rej dane dotyczą)</p>

                <ul>
                    <li>&nbsp; Kontaktu z klientem, korespondencji w sprawach związanych z funkcjonowaniem serwisu oraz obsługą &nbsp;i pomocą&nbsp; &nbsp; w razie pytań lub ewentualnych&nbsp;&nbsp;&nbsp; problem&oacute;w.</li>
                </ul>

                <p>(art. 6 ust. 1 lit. f) RODO - przetwarzanie jest niezbędne do cel&oacute;w wynikających z prawnie uzasadnionych interes&oacute;w realizowanych przez administratora lub przez stronę trzecią)</p>

                <ul>
                    <li>Rozliczanie usług świadczonych za pośrednictwem serwisu, obejmujące wystawianie dokument&oacute;w księgowych (takich jak faktury) oraz archiwizację powiązanej dokumentacji zgodnie z obowiązującymi przepisami prawa.</li>
                </ul>

                <p>(art. 6 ust. 1 lit. c) RODO - przetwarzanie jest niezbędne do wypełnienia obowiązku prawnego ciążącego na administratorze)</p>

                <ul>
                    <li>Prowadzenia działań marketingowych, wysyłanie informacji o promocjach, nowościach i ofertach (oczywiście za zgodą Użytkownika).</li>
                </ul>

                <p>(art. 6 ust. 1 lit. a) RODO - osoba, kt&oacute;rej dane dotyczą, wyraziła zgodę na przetwarzanie swoich danych osobowych w jednym lub większej liczbie określonych cel&oacute;w)</p>

                <p>&nbsp;</p>

                <p><strong>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Udostępnianie danych</strong></p>

                <p>Dane osobowe mogą być przekazywane:</p>

                <ul>
                    <li>Firmom kurierskim realizującym przesyłkę</li>
                    <li>Podmiotom wspierającym obsługę klienta i infrastrukturę IT</li>
                    <li>Biuru rachunkowemu (w zakresie księgowości)</li>
                    <li>Organom publicznym &ndash; w przypadkach przewidzianych przepisami prawa</li>
                </ul>

                <p>&nbsp;</p>

                <p><strong>5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Czas przechowywania danych</strong></p>

                <p>Dane osobowe są przechowywane przez okres niezbędny do realizacji celu przetwarzania, w tym:</p>

                <ul>
                    <li>do czasu przedawnienia roszczeń wynikających z umowy,</li>
                    <li>przez okres wymagany przepisami prawa (np. podatkowymi),</li>
                    <li>do momentu wycofania zgody &ndash; w przypadku przetwarzania na jej podstawie.</li>
                </ul>

                <p>&nbsp;</p>

                <p><strong>6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Prawa osoby, kt&oacute;rej dane dotyczą</strong></p>

                <p>Każda osoba, kt&oacute;rej dane są przetwarzane, ma prawo do:</p>

                <ul>
                    <li>dostępu do swoich danych,</li>
                    <li>sprostowania danych,</li>
                    <li>usunięcia danych (&bdquo;prawo do bycia zapomnianym&rdquo;),</li>
                    <li>ograniczenia przetwarzania,</li>
                    <li>przenoszenia danych,</li>
                    <li>wniesienia sprzeciwu wobec przetwarzania,</li>
                    <li>wycofania zgody w dowolnym momencie.</li>
                </ul>

                <p>&nbsp;</p>

                <p><strong>7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Podstawa prawna przetwarzania danych</strong></p>

                <p>Przetwarzamy Twoje dane osobowe na podstawie:</p>

                <ul>
                    <li>Zgody: &nbsp;</li>
                </ul>

                <p>W przypadku, gdy wyrazisz zgodę na przetwarzanie swoich danych w celach marketingowych.</p>

                <ul>
                    <li>Umowy: &nbsp;</li>
                </ul>

                <p>W celu realizacji umowy o świadczenie usług kurierskich.</p>

                <ul>
                    <li>Obowiązk&oacute;w prawnych: &nbsp;</li>
                </ul>

                <p>W przypadku, gdy przetwarzanie jest niezbędne do wypełnienia obowiązk&oacute;w prawnych ciążących na administratorze.</p>

                <p>&nbsp;</p>

                <p><strong>8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jak chronimy Twoje dane?</strong></p>

                <p>Dbamy o bezpieczeństwo Twoich danych osobowych. Stosujemy odpowiednie środki techniczne i organizacyjne, aby zapewnić ich ochronę przed nieautoryzowanym dostępem, ujawnieniem, zmianą lub zniszczeniem. Nasze systemy są regularnie aktualizowane, a dostęp do danych mają tylko upoważnione osoby.</p>

                <p>&nbsp;</p>

                <p><strong>9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Przechowywanie danych</strong></p>

                <p>Twoje dane osobowe przechowujemy tylko przez czas niezbędny do realizacji cel&oacute;w, dla kt&oacute;rych zostały zebrane, a także w celu spełnienia wymog&oacute;w prawnych. Po upływie tego okresu dane zostaną usunięte lub zanonimizowane.</p>

                <p>&nbsp;</p>

                <p><strong>10.&nbsp;&nbsp;&nbsp; Twoje prawa</strong></p>

                <p>Masz prawo do:</p>

                <ul>
                    <li>Dostępu do swoich danych:</li>
                </ul>

                <p>Możesz zażądać informacji o tym, jakie dane osobowe przetwarzamy.</p>

                <ul>
                    <li>Sprostowania danych:</li>
                </ul>

                <p>Jeśli Twoje dane są nieprawidłowe lub niekompletne, masz prawo je poprawić.</p>

                <ul>
                    <li>Usunięcia danych:</li>
                </ul>

                <p>Możesz zażądać usunięcia swoich danych w określonych sytuacjach.</p>

                <ul>
                    <li>Ograniczenia przetwarzania:</li>
                </ul>

                <p>Możesz zażądać ograniczenia przetwarzania swoich danych.</p>

                <ul>
                    <li>Przenoszenia danych:</li>
                </ul>

                <p>Masz prawo otrzymać swoje dane w ustrukturyzowanym formacie i przesłać je innemu administratorowi.</p>

                <ul>
                    <li>Sprzeciwu:</li>
                </ul>

                <p>Możesz wnieść sprzeciw wobec przetwarzania swoich danych w celach marketingowych.</p>

                <p>&nbsp;</p>

                <p><strong>12.&nbsp;&nbsp;&nbsp; Pliki Cookies</strong></p>

                <p>Nasza strona internetowa może korzystać z plik&oacute;w.</p>

                <p>Przy korzystaniu ze stron serwisu EuroDelivery wyrażasz zgodę na używanie plik&oacute;w cookies.</p>

                <p>&nbsp;</p>

                <h3><strong>Polityka Cookies</strong></h3>

                <p><strong>Czym są pliki cookies?</strong></p>

                <p>Pliki cookies (tzw. &bdquo;ciasteczka&rdquo;) to niewielkie pliki tekstowe zapisywane na urządzeniu końcowym użytkownika (komputerze, smartfonie, tablecie) podczas korzystania ze strony internetowej. Umożliwiają m.in. prawidłowe działanie serwisu, analizę ruchu oraz dostosowanie treści do preferencji użytkownika.</p>

                <p><strong>Do czego używamy plik&oacute;w cookies?</strong></p>

                <p>Na naszej stronie internetowej wykorzystujemy pliki cookies w następujących celach:</p>

                <ul>
                    <li>zapewnienia prawidłowego działania serwisu (np. zapamiętywanie preferencji użytkownika),</li>
                    <li>tworzenia statystyk i analiz zachowań użytkownik&oacute;w (np. Google Analytics),</li>
                    <li>prowadzenia działań marketingowych (remarketing, reklamy dopasowane do zainteresowań),</li>
                    <li>obsługi system&oacute;w płatności i formularzy kontaktowych.</li>
                </ul>

                <p><strong>Rodzaje wykorzystywanych cookies</strong></p>

                <p>Na stronie mogą być używane zar&oacute;wno cookies sesyjne (tymczasowe, usuwane po zamknięciu przeglądarki), jak i stałe (pozostające na urządzeniu przez określony czas lub do ich ręcznego usunięcia).</p>

                <p>Pliki cookies dzielimy na:</p>

                <ul>
                    <li>niezbędne &ndash; wymagane do prawidłowego działania strony,</li>
                    <li>analityczne &ndash; pozwalają na zbieranie anonimowych danych statystycznych,</li>
                    <li>funkcjonalne &ndash; umożliwiają zapamiętywanie ustawień i personalizację treści,</li>
                    <li>reklamowe &ndash; wykorzystywane do wyświetlania dopasowanych reklam (np. Google Ads, Facebook Ads).</li>
                </ul>

                <p><strong>Zgoda na cookies</strong></p>

                <p>Podczas pierwszej wizyty na stronie użytkownik może wyrazić zgodę na wykorzystanie określonych kategorii cookies (z wyjątkiem niezbędnych). Można to zrobić za pomocą banera cookies lub ustawień przeglądarki.</p>

                <p><strong>Jak zarządzać plikami cookies?</strong></p>

                <p>Użytkownik może w każdej chwili zmienić ustawienia dotyczące plik&oacute;w cookies w swojej przeglądarce internetowej, w tym całkowicie je zablokować lub usunąć.</p>

                <p>Należy pamiętać, że wyłączenie cookies może wpłynąć na funkcjonalność strony. Aby dowiedzieć się jak zarządzać plikami cookie, w tym jak je zablokować, możesz skorzystać z pliku pomocy Twojej przeglądarki.</p>

                <p><strong>Zmiany w Polityce Cookies</strong></p>

                <p>Zastrzegamy sobie prawo do wprowadzania zmian w niniejszej Polityce Cookies. Wszelkie zmiany będą publikowane na tej stronie.</p>

                <p>&nbsp;</p>

                <p><strong>13.&nbsp;&nbsp;&nbsp; Zmiany w Polityce Prywatności</strong></p>

                <p>Zastrzegamy sobie prawo do wprowadzania zmian w niniejszej Polityce Prywatności. Wszelkie zmiany będą publikowane na tej stronie.</p>


            </div>
        </div>
{% endblock %}